<div [mat-dialog-close] class="close">X</div>
<div class="dialog-title">Notifications</div>
<mat-list>
    <mat-list-item>
        <img matListIcon src="../../assets/image/1.png">
        <div class="notText">Suraj Bobade requested for 500 Days of Summer.
            <span [mat-dialog-close] class="know-more" routerLink="/book-info">Know more</span>
        </div>    
    </mat-list-item>
    <mat-list-item>
        <img matListIcon src="../../assets/image/1.png">
        <div class="notText">Suraj Bobade accepted your request for 500 Days of Summer.
            <span [mat-dialog-close] class="know-more" routerLink="/book-info">Know more</span>
        </div>
    </mat-list-item>
    
</mat-list>
